html, body, #terminal-container {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

#terminal-container {
    font-size: 12px;
    font-family: monospace;
}

#terminal-container .terminal {
    padding: 10px 5px;
    background-color: #000;
    color: #fafafa;
}

#terminal-container .terminal .terminal-cursor {
    background-color: #fafafa;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.3);
    border-radius: 2.5px;
}
