html, body, #terminal-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    overflow: hidden;
}

#terminal-container {
    font-size: 12px;
    font-family: monospace;
}

#terminal-container .terminal {
    padding: 10px 5px;
    background-color: #000;
    color: #fafafa;
}

#terminal-container .terminal .terminal-cursor {
    background-color: #fafafa;
}
